<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please Login using correect username  & password</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class="row">
        <div class="col-md-8">
            <img src="/assets/images/RE4wB5O.jpg" class=" img-fluid mt-2 p-2" alt="Ecommerce" />
        </div>
        <div class="col-md-4">
            <div class="login-form bg-light mt-2 p-2">
                <form action="" method="" class="row g-3">
                    <h4>Login</h4>
                    <div class="col-12">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Have not account yet? <a href="#">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>